<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head -->
    <%- include('../partials/head.ejs') %>
    <title>Entre Lineas - Login</title>
</head>

<body class="login-body-background-img body-size-login">
    <header class="login-header">

    </header>

    <main class="login-main">
        <div class="login-auth-page-card">
            <div class="login-logo">
                <img class="login-logo-chico" src="/img/logo-entre-lineas.jpg" alt="logo">
            </div>    

            <div class="alinear-login-form">
                <form action="/users/login" method="POST" class="form-login">
                    <ul class="errores">

                    </ul>
                    <div class="login-contenedor-email-pass">
                        <div >
                            <h5 class="h5-titulo-box"><label  for="email">Email:</label></h5>
                            <div >
                                <input 
                                    class="box-ingrese-datos" 
                                    type="email" 
                                    name="email"
                                    id="email"
                                    placeholder="Ingrese su email"
                                />
                                <% if (locals.errors && errors.email) { %>
                                    <div class="text-red">
                                        <%= errors.email.msg %>
                                    </div>
                                
                                <% } %>
                            </div>
                        </div>
                    
                        <div>
                            <h5 class="h5-titulo-box"><label for="password">Contraseña</label></h5>
                            <div>
                                <input
                                    class="box-ingrese-datos" 
                                    type="password" 
                                    name="password" 
                                    id="password"
                                    placeholder="Ingrese su contraseña" 
                                />
                                <% if (locals.errors && errors.password) { %>
                                    <div class="text-red">
                                        <%= errors.password.msg %>
                                    </div>
                                
                                <% } %>
                            </div>
                        </div>
                    </div>
                    
                    <div >
                        <h5 class="login-h5-centrado "><a class="color-9F1F0E" href='recover-pass.html'>¿Olvidaste tu Contraseña?</a>
                    </div>

                    <div><h5 class="login-h5-centrado ">
                        <input type="checkbox" name="recuerdame">
                       <label for="recuerdame">Recuérdame</label></h5>
                        
                    </div>

                    <div>
                        <h5 class="login-h5-centrado"><button class="button-ingresar" id="login-submit" type="submit">Ingresar</button></h5>
                    </div>
                </form>
                    <div>
                        <h5 class="login-h5-centrado"><button class=" button-ingreso-google">
                            <img class="tamaño-logo-google" src="/img/google.jpg" alt="logo google"> Ingresá con
                                Google</button></h5>
                    </div>
                    
                    <div>
                        <h5 class="login-ajust-nuevo-cli">Nuevo Cliente</h5>
                    </div>
                    <div>
                        <a href="/users/register"><h5 class="login-h5-centrado"> <button class="button-crear-cuenta">Crear nueva Cuenta</button></h5></a>
                      <!--  -->
                    </div>
                
                
                

                
            
            </div>

               
                
                
                
            
        </div>
    </main>
    <footer class="login-footer">

    </footer>
<script src="/js/login.js"></script>
</body>

</html>