<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs'); %>
<body>
	
	
	<!-- Container -->
	<div class="" >
		<div class="">
			<div class="">
				<h2>Hi User</h2>
				<img src="/img/users/default.png" alt="imagen usario">
				<br>
				<br>
				<div class="">user@email.com</div>
			</div>
		</div>
	</div>
	<!-- //Container -->
	

	<%- include('../partials/footer.ejs'); %>
</body>
</html>