/*Body*/
body {
    font-family: 'Arvo', serif;
    
}
h5 {
    font-size: 15px;
}
h6 {
    font-size: 10px;
}

.login-body-background-img {
    margin: 0;
    background-image: url('../img/img-fondo.jpg');
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.login-body-background-img:before {
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(45deg,#52c4df, #ad55ad);
    opacity: 0.6;
    z-index: -1;
}


.body-size-login{
    height: 100vh;
    width: 100vw;
}



/*Header*/
header{
    height: 7%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.carrousel-size{
box-sizing: border-box;
width: 100%;
height: 45%;
align-self: center;
text-align: center;
}
.carrousel-style{
background-color: black;
color: white
}
.desaparecerEnMobile{
    display: none;
}
.sizing-menu-paty{
    height: 65%;
    width: 15%;
}
.sizing-carrito{
    height: 65%;
    width: 15%;
}
.sizing-logo{
    height: 65%;
    width: 70%;
}
.centrar-logo{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.centrar-icono{
    width:60%;
    margin:10%;
}
img{
    height: 100%;
    width: 100%;
}
.line-height{
    margin: 2px;
}
.align-monedas{
    margin-left: 80%;
}


/*Main*/

main{
    height: 64%;
    width: 100%;
}

/*Main LogIn*/

.login-header {
    width: 0px;
    height: 0px;
}
.login-main {
    width: 90vw;
    height: 90vh;
    background-color: white;
    margin: 10px;
    justify-self: center;
    box-sizing: border-box;
    
}
.login-footer {
    width: 0px;
    height: 0px;
}
.login-main-section {
    width: 90vw; 
    height: 90vh;
    box-sizing: border-box;
    margin: 20px;
 
    align-items: left;

    justify-content: space-around; 
}
.login-logo {
    text-align: center;
    margin-top: 5vh;
}
.login-logo-chico {
    width: 60%;
   
  
    
}
.titulo-box-izq-abajo {
    margin: 3px 0px 1px 5px;
   
}
.box-ingrese-datos {
    margin: 1px 0px 1px 5px;
    height: 20px;
    width: 80%;
    padding: 10px;
    background-color: #f1f1f1;
    text-align: left;
    color: #938C8C;

}
.login-h5-centrado {
    text-align: center;
  
}
.button-ingreso-google {
    border: 1px solid #f1f1f1;
   
    border-radius: 10px;
  /*color: #938C8C;*/
  background-color: white;
  box-shadow: 3px 5px #f1f1f1;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 0px;
  cursor: pointer;
}
.tamaño-logo-google {
    width: 25px;
}
.button-crear-cuenta {
    margin: 5px 5px 5px 5px;
    padding: 10px;
    border: 1px solid #f1f1f1;
    color: white;
    border-radius: 10px;
    background-color:black;
    box-shadow: 3px 5px #f1f1f1;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: 15px white;
    margin: 0px;
    cursor: pointer;
}


/*Footer*/
footer{
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.style-coppyright{
    color: #606665;
}
.center-logo-book{
    height: 70%;
    width: 60%;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 20%;
    padding-right: 20%;
}
.sizing-box-logo{
    width: 40%;
    height: 20%;
}
.sizing-box-letras{
    width: 60%;
    height: 20%;
}
.center-letras{
    margin-top: 20%;
    margin-bottom: 20%;
}
.sizing-box-media{
    height: 5%;
    width: 30%;
}
.sizing-box-coppyright{
    height: 5%;
    width: 70%;
    justify-self: end;
}
.margin-coppyright{
margin-left: 50%;
}

/*Desktop*/
@media (min-width: 769px){
/*Header*/
.login-main {
    width: 450px;
    height: 800px;
    background-color: white;
    margin: 5px 10px 5px 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    
}

.login-main-section {
    width: 450px; 
    height: 800px;
    box-sizing: border-box;
    margin: 20px;
  
    align-items: left;
 
}





header{
    height: 11.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    Justify-content: space-between;
    box-shadow: 0 4px 2px -2px rgb(100, 100, 100);
}
.desaparecerEnMobile{
    display: block;
}

.desaparecerDesktop{
    display: none;
}
.sizing-logo{
    height: 65%;
    width: 30%;
}
.centrar-logo{
    width: 60%;
    margin-left: 10%;
    margin-right: 20%;
}
.flex-box-texto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    Justify-content: space-between;
}

.size-box-texto{
    width: 40%;
    text-align: center;
}
.margin-right-text{
    margin-right: 5%;
    margin-left: 5%;
}
.ordenar-carrito{
    order: 1;
}
.sizing-carrito{
    height: 65%;
    width: 7%;
}
.align-monedas{
    margin-left: 0%;
}
.sizing-monedas{
    width: 10%;
    
}
.line-height-desktop{
    margin-top: 20%;
    margin-bottom: 20%;

}
.centrar-icono{
    width:50%;
    margin:20%;
}

/*Footer*/
footer{
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    Justify-content: space-between;
}
.sizing-box-logo{
    width: 10%;
    height: 80%;
}

.sizing-box-letras{
    width: 80%;
    height: 80%;
}
.flex-box-letras{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    Justify-content: space-between;
}
.sizing-box-media{
    height: 80%;
    width: 10%;
}
.margin-coppyright{
    margin-left: 90%;
    }

 .sizing-box-coppyright{
    height: 3%;
    width: 100%;
}
.line-height-coppyright{
    margin-top: 1%;
    margin-bottom: 1%;
}
img{
    height: 100%;
}

.line-height-letras{
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 10%;
    margin-right: 10%;

}
.center-letras{
    margin-top: 5%;
    margin-bottom: 2%;
}
.center-media{
    margin-top:25%;
}

}


