* {
    box-sizing: border-box;
}

/*Body*/
body {
    font-family: 'Arvo', serif;
}

.main-title {
    display: none;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 10px;
}



.alinear-loginform {
    margin-left: 10px;
}

.login-body-background-img {
    margin: 0;
    background-image: url('../img/img-fondo.jpg');
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*#52c4df, #ad55ad*/
.login-body-background-img:before {
    content: "";
    width: 100%;
    min-height: 125%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(10deg, #fafbfc, #929191 87%);
    opacity: 0.6;
    z-index: -1;
}


.body-size-login {
    height: 100vh;
    width: 100%;
}



/*Header*/
header {
    height: 7%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.carrousel-size {
    box-sizing: border-box;
    width: 100%;
    max-height: 45%;
    align-self: center;
    text-align: center;
}

.carrousel-style {
    background-color: black;
    color: white
}

.bottom-bar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.desaparecerEnMobile {
    display: none;
}

.sizing-menu-paty {
    height: 65%;
    width: 15%;
}

.sizing-carrito {
    height: 65%;
    width: 15%;
}

.sizing-logo {
    height: 65%;
    width: 70%;
}

.centrar-logo {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.centrar-icono {
    width: 60%;
    margin: 10%;
}

img {
    height: 100%;
    width: 100%;
}

.line-height {
    margin: 2px;
}

.align-monedas {
    margin-left: 80%;
}


/*Main*/

.home-main {
    height: 64%;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Home.html */

main .home-banner{
    display: block;
}
.product-showcase {
    display: block;
}
.product {
    width: 100%;
    max-width: 280px;
    /* max-height: 470px; */
    margin: 25px 13px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

article .img-more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: relative;
}

.book-product-img {
    width: 80%;
    height: 100%;
    padding-top: 3%;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    /* background-color: #DBDBDB; */
}

.img-more{
    /* display: flex; */
    position: relative;
    justify-content: space-between;
}

.buy-item {
    display: none;
    background-color: black;
    color: white;
    align-self: flex-end;
    padding: 13px 21px;
    border-radius: 15px;
    margin-bottom: 10%;
    
    position: absolute;
    left: 14px;
    order: 1;
}
input.see-more {
    align-self: flex-end;
    padding: 13px 21px;
    border-radius: 15px;
    margin-bottom: 10%;
}
.comprar{
    display: none;
    align-self: flex-end;
    padding: 13px 21px;
    border-radius: 15px;
    margin-bottom: 10%;
    background-color: black;
    color: white;
    
}

.position-ver-mas{
    position: absolute;
    right: 5%;
    top: 90%;
}
.position-button-comprar{
    position: absolute;
    left: 5%;
    top: 90%;
}

.book-detail-home {
    min-height: 31px;
}

.book-name-price {
    /* margin-top: 5px; */
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 30px;
}

article .add-cart-button {
    padding: 10px;
    width: 100%;
    color: white;
    background-color: black;
    font-size: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    letter-spacing: 0.5px;
}

.book-product-name{
    margin-top: 8%;
}

.book-product-price{
  margin-top: 8%;
}

.book-product-author{
  margin-top: 10%;
}

/* Detalle.html */

.detail-main {
    height: 64%;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.go-back-arrow {
    height: 50%;
    width: 12%;
    transform: rotate(90deg);
}

.detail-description-text{
    width: 80%;
    margin: auto;
}

.hidden-until-click{
    display: none;
}

/* 
.detail-extra-info-ficha :click .display-more-info{
    display: block;
}

.detail-extra-info-more :click .display-more-info{
    display: block;
} */


/* .send-mail-description{} */


.icon-with-text{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-deliver{
    margin-top: 5px;
    width: 50px;
    max-height: 47px;
}
.icon-text{
    margin-left: 10px;
    width: 150px;
}

.detail-extra-info{
    width: 80%;
}

.detail-extra-rect{
    border-top: 1px solid #000;    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.detail-title-info{
    font-size: 18px;
    margin-top: 10px;
    width: 200px;
    position: relative;
    top: 4px;
}

.detail-info-arrow{
    width: 30px;
    position: relative;
    top: 6px;
}

.book-product-author{
    color:rgb(100, 100, 100);
}

.book-product-name{
    font-weight: bolder;
}
/*Main LogIn*/

.login-header {
    display: none;
}

.login-main {
    width: 90%;
    height: 90%;
    border-radius: 8px;
    position: static;
    max-width: 340px;
    background-color: white;
    margin: 20px;
    justify-self: center;
    box-sizing: border-box;
    font-size: 15px;

}

.login-footer {
    width: 0px;
    height: 0px;
}

.login-auth-page-card {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
    margin: auto;

}

.login-logo {
    text-align: center;
    /*margin-top: 10px; */
}

.login-logo-chico {
    width: 60%;
    margin-top: 3px;



}

.login-contenedor-email-pass {
    text-align: center;

}

.h5-titulo-box {
    margin: 10px 0px 1px 25px;
    padding-left: 2px;
    text-align: left;
}

.box-ingrese-datos {
    margin: 1px 0px 3px 0px;
    height: 25px;
    width: 80%;
    padding: 5px;
    border-radius: 4px;
    background-color: #f1f1f1;
    text-align: left;
    color: #938C8C;
}


.login-h5-centrado {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.login-ajust-nuevo-cli {
    text-align: center;
    margin-bottom: 15px;
}

.color-9F1F0E {
    color: #9F1F0E;
}


.button-ingresar {
    margin: 10px;
    padding: 8px 60px;
    border-radius: 10px;
    background-color: #9f1f0e;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    margin: 0px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    font-family: 'Arvo';
}

.button-ingreso-google {
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 0px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    font-family: 'Arvo';
}

.tamaño-logo-google {
    width: 18px;
    margin-top: 3px;
}

.centrar-boton {
    text-align: center;
}

.button-crear-cuenta {
    margin: 5px 5px 5px 5px;
    padding: 10px;
    font-family: 'Arvo';
    color: white;
    border-radius: 10px;
    background-color: black;
    text-decoration: none;
    display: inline-block;
    margin: 0px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

/*Register*/
.register-main {
  
    position: static;
    max-width: 340px;
    background-color: white;
    margin: 20px;
    justify-self: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 13px;
}


.register-etiq-contenedor {
    margin-left: 45px;
}

.register-cont-label-input {
    margin-left: 50px;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.register-cont-2box {
    display: flex;
    justify-content: center;

    margin-left: 25px;
    
}
.register-tipo-numero {
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
  
}

.register-condic-uso {
    width: 220px;
    padding: 10px;
    margin: auto;
}
.register-ya-tienes-cuenta {
font-size: 13px;
text-align: center;
}
.register-box-option {
    margin: 1px 0px 5px 0px;
    height: 23px;
    padding: 2px;
    border-radius: 4px;
    background-color: #f1f1f1;
    text-align: left;
    color: #938C8C;
}

/*Carrito*/
.carrito-border{
    border-top: solid #C4C4C4 1px;
    border-bottom: solid #C4C4C4 1px;
}
.carrito-border-right{
    border-right: solid #C4C4C4 1px;
}
.carrito-border-left{
    border-left: solid #C4C4C4 1px;
}
.carrito-flex-box{
    display: flex;
}
.carrito-flex-direction-row{
    flex-direction: row;
}
.flex-direction-column{
    flex-direction: column;
}
.carrito-sizing-article{
    width: 100%;
    height: 30%;
    
}
.carrito-sizing-div{
    height: 100%;
    padding-top: 3%;
}
.sizing-div-img-libro{
    width: 30%;
    height: 90%;
    margin: 2%;
}
.sizing-div-nombreDelLibro{
    width: 100%;
    height: 25%;
}
.carrito-margin-NombreDelLibro{
    margin: 10%
}
.carrito-align-text-center{
    text-align: center;
}
.carrito-recuadro-sizing{
    width: 33%;
    height: 100%;
}
.carrito-margin-textos{
    margin-top: 30%;
    margin-bottom: 30%;
    margin-left: 0%;
    margin-right: 0%;
}
.carrito-flex-align{
    align-items: center;
}
.carrito-sizing-div-textos{
    width: 100%;
    height: 30%;
}
.carrito-text-justify-center{
    justify-content: center;
}
.carrito-font-color{
    color: #C4C4C4;
}
.carrito-bottom-border{
    padding-bottom: 5%;
    padding-top: 5%;
    border-bottom: #C4C4C4 solid 1px;
}
.carrito-margin-titulo{
    margin-top: 0%;
    margin-bottom: 0%;
}

.carrito-sizing-botton{
    width: 286px;
    height: 45px;
}
.carrito-botton-style{
    background: #403C3C;
    border-radius: 15px;
    margin: 10%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.color-wite{
    color: white;
}

.carrito-aling-item-center{
    align-self: center;
}

.carrito-align-start{
    margin-left: 8%;
    margin-right: 10%;
}

.carrito-aling-end{
    margin-left: 15%;
    margin-right: 8%;
}
.carrito-body-sizing{
    width: 100%;
}

/*Footer*/
footer {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.style-coppyright {
    color: #606665;
}

.center-logo-book {
    height: 70%;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 20%;
    padding-right: 20%;
}

.sizing-box-logo {
    width: 40%;
    height: 20%;
}

.sizing-box-letras {
    width: 60%;
    height: 20%;
}

.center-letras {
    margin-top: 10%;
    margin-bottom: 10%;
}

.sizing-box-media {
    height: 5%;
    width: 30%;
}

.sizing-box-coppyright {
    height: 5%;
    width: 70%;
    justify-self: end;
    margin-right: 85px;
}

.margin-coppyright {
    margin-left: 50%;
}

/* TABLETS*/
@media (min-width: 480px) {

    /*Header*/
    .login-main {
        margin: auto;
        margin-top: 30px;
        
    }

    .login-auth-page-card {
        max-width: 450px;
    }

}

/*Desktop*/
@media (min-width: 769px) {

   /*Body*/
   h4 {
    font-size: 26px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 15px;
}
    header {
        height: 11.5%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        Justify-content: space-between;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    }

    .desaparecerEnMobile {
        display: block;
    }

    .desaparecerDesktop {
        display: none;
    }

    .sizing-logo {
        height: 65%;
        width: 30%;
    }

    .centrar-logo {
        width: 60%;
        margin-left: 10%;
        margin-right: 20%;
    }

    .flex-box-texto {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        Justify-content: space-between;
    }

    .size-box-texto {
        width: 60%;
        text-align: center;
    }

    .margin-right-text {
        margin-right: 5%;
        margin-left: 5%;
    }

    .ordenar-carrito {
        order: 1;
    }

    .sizing-carrito {
        height: 65%;
        width: 7%;
    }

    .align-monedas {
        margin-left: 0%;
    }

    .sizing-monedas {
        width: 10%;

    }

    .line-height-desktop {
        margin-top: 20%;
        margin-bottom: 20%;

    }

    .centrar-icono {
        width: 50%;
        margin: 20%;
    }


    .register-main {      
       margin: auto;
       margin-top: 30px;
       max-width: 700px;
      
       font-size: 18px;
      }

    .carrito-text-justify-center{
        justify-content: flex-end;
    }



    /*Footer*/
    footer {
        height: 5%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        Justify-content: space-between;
    }

    .sizing-box-logo {
        width: 10%;
        height: 80%;
    }

    .sizing-box-letras {
        width: 80%;
        height: 80%;
    }

    .flex-box-letras {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        Justify-content: space-between;
    }

    .sizing-box-media {
        height: 80%;
        width: 10%;
    }

    .margin-coppyright {
        margin-left: 90%;
    }

    


    header {
        height: 11.5%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        Justify-content: space-between;
        box-shadow: 0 4px 2px -2px rgb(100, 100, 100);
    }

    .desaparecerEnMobile {
        display: block;
    }

    .desaparecerDesktop {
        display: none;
    }

    .sizing-logo {
        height: 65%;
        width: 30%;
    }

    .centrar-logo {
        width: 60%;
        margin-left: 10%;
        margin-right: 20%;
    }

    .flex-box-texto {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        Justify-content: space-between;
    }
    
    .flex-box-texto-detail{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }

    .size-box-texto {
        width: 40%;
        text-align: center;
    }

    .margin-right-text {
        margin-right: 5%;
        margin-left: 5%;
    }

    .ordenar-carrito {
        order: 1;
    }

    .sizing-carrito {
        height: 65%;
        width: 7%;
    }

    .align-monedas {
        margin-left: 0%;
    }

    .sizing-monedas {
        width: 10%;

    }

    .line-height-desktop {
        margin-top: 20%;
        margin-bottom: 20%;

    }

    .centrar-icono {
        width: 50%;
        margin: 20%;
    }

    /*Footer*/
    footer {
        height: 5%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        Justify-content: space-between;
        border-top: solid gray 1px;
    }

    .sizing-box-logo {
        width: 10%;
        height: 80%;
    }

    .sizing-box-letras {
        width: 80%;
        height: 80%;
    }

    .flex-box-letras {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        Justify-content: space-between;
    }

    .sizing-box-media {
        height: 80%;
        width: 10%;
    }

    .margin-coppyright {
        margin-left: 90%;
    }

    .sizing-box-coppyright {
        height: 3%;
        width: 100%;
    }

    .line-height-coppyright {
        margin-top: 1%;
        margin-bottom: 1%;
    }

    img {
        height: 100%;
    }

    .line-height-letras {
        margin-top: 0%;
        margin-bottom: 0%;
        margin-left: 10%;
        margin-right: 10%;

    }

    .center-letras {
        margin-top: 5%;
        margin-bottom: 2%;
    }

    .center-media {
        margin-top: 25%;
    }

    /* Home.html */
    .product-showcase {
        /* border: red 1px dotted; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 10%;
        margin-right: 10%;
    }
    

    main .home-banner{
        display: block;
        object-fit: cover;
        width: 100%;
        max-height: 380px;
        margin-top: 2px;
        margin-bottom: 30px;
    }

    /* detalle.html */

    .detail-main .product.detail-second-column {
        justify-content: flex-start;
    }

   .product .img-more{
    height: 60%;
    max-width: 360px;
    max-height: 360px;
    }

    .detail-main .product.detail-first-column {
        justify-content: center;
        align-items: center;
    }

    .add-cart-button{
        max-width: 200px;
    }
    .book-product-name{
        margin-top: 10%;
        font-size: 16px;
    }

  .book-product-price{
      margin-top: 10%;
  }

  .book-product-author{
      margin-top: 15%;
  }

    .img-more{
        height: 60%;
    }

    .home-prod-btm{
        display: none;
        transition-duration: 8ms;
    }

   

    .product :hover .home-prod-btm{
        display: block;
    }

    article .home-prod-buttons{
        display: none;
    }
    article .home-prod-buttons:hover{
        display: block;
    }

    .add-cart-button{
        display: none
    }

    /*Carrito*/
    
    .carrito-sizing-article{
        width: 100%;
        height: 20%;
    }
    .sizing-div-img-libro{
        height: 100%;
        width: 10%;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 0%;
        margin-bottom: 0%;
       

    }
    .carrito-sizing-div{
        height: 100%;
        width: 90%;
    }
    .carrito-sizing-saction{
        height: 40%;
    }
    .carrito-flex-row-dektop{
        flex-direction: row;
        justify-content: space-around;
    }
    .carrito-flex-column-dektop{
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 100%;
        align-items: center;
        
    }
    .carrito-desktop-diseño{
        width: 50%;
    }
    .desktop-margin-precio{
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .carrito-text-align-desktop{
        text-align: left;
    }
    .carrito-margin-titulo{
        padding: 3%;
    }
    .carrito-bottom-border{
        padding: 2%;
    }
    .carrito-sizing-botton{
        width: 35%;
        margin: 5%;
    }
    .carrito-aling-end{
        margin-left: 10%;
        margin-right: 2%;
    }

    .carrito-sizing-div-textos{
        width: 40%;
        height: 30%;
    }
}