<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre Lineas - Carrito</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Lato:wght@300;400&display=swap" rel="stylesheet">
</head>
<body class="carrito-body-sizing">
    <%- include('../partials/header.ejs') %>

    <main class="carrito-body-sizing">
        <div calss="carrito-bottom-border"><h4 class="carrito-align-text-center carrito-bottom-border carrito-margin-titulo">Carrito</h4></div>
        <section class="carrito-sizing-saction">
           <article class="carrito-flex-box carrito-flex-direction-row carrito-margin-article carrito-sizing-article carrito-bottom-border">
               <div class="sizing-div-img-libro"><img src="img/book-matar-a-un-ruisenior.webp" alt="Foto del producto"></div>

               <div class="carrito-flex-box flex-direction-column carrito-sizing-div carrito-flex-align carrito-flex-row-dektop" >
                    <div class="sizing-div-nombreDelLibro carrito-align-text-center carrito-desktop-diseño carrito-text-align-desktop"><h5 class="carrito-margin-NombreDelLibro">Matar a un Ruiseñor</h5></div>
                    <div class="carrito-flex-column-dektop">
                        <div class="carrito-flex-box carrito-flex-direction-row carrito-sizing-div-textos carrito-text-justify-center">
                            <div class="carrito-border carrito-border-left carrito-recuadro-sizing carrito-align-text-center"><h6 class="carrito-margin-textos carrito-font-color">-</h6></div>
                            <div class="carrito-border carrito-border-left carrito-border-right carrito-recuadro-sizing carrito-align-text-center"><h6 class="carrito-margin-textos">1</h6></div>
                            <div class="carrito-border carrito-border-right carrito-recuadro-sizing carrito-align-text-center"><h6 class="carrito-margin-textos carrito-font-color">+</h6></div>
                        </div>
                        <div><h5 class="desktop-margin-precio">$4,000.0</h5></div>
                    </div>
                 </div>    
           </article>

           <article class="carrito-flex-box carrito-flex-direction-row carrito-margin-article carrito-sizing-article carrito-bottom-border">
            <div class="sizing-div-img-libro"><img src="img/book-la-cabeza-de-macri.webp" alt="Foto del producto"></div>

            <div class="carrito-flex-box flex-direction-column carrito-sizing-div carrito-flex-align carrito-flex-row-dektop" >
                 <div class="sizing-div-nombreDelLibro carrito-align-text-center carrito-desktop-diseño carrito-text-align-desktop"><h5 class="carrito-margin-NombreDelLibro">La cabeza de Macri</h5></div>
                 <div class="carrito-flex-column-dektop">
                     <div class="carrito-flex-box carrito-flex-direction-row carrito-sizing-div-textos carrito-text-justify-center">
                         <div class="carrito-border carrito-border-left carrito-recuadro-sizing carrito-align-text-center"><h6 class="carrito-margin-textos carrito-font-color">-</h6></div>
                         <div class="carrito-border carrito-border-left carrito-border-right carrito-recuadro-sizing carrito-align-text-center"><h6 class="carrito-margin-textos">1</h6></div>
                         <div class="carrito-border carrito-border-right carrito-recuadro-sizing carrito-align-text-center"><h6 class="carrito-margin-textos carrito-font-color">+</h6></div>
                     </div>
                     <div><h5 class="desktop-margin-precio">$3,200.0</h5></div>
                 </div>
              </div>    
        </article>
   

        <article class="carrito-flex-box carrito-flex-direction-row carrito-margin-article carrito-sizing-article carrito-bottom-border">
            <div class="sizing-div-img-libro"><img src="img/book-red-queen.webp" alt="Foto del producto"></div>

            <div class="carrito-flex-box flex-direction-column carrito-sizing-div carrito-flex-align carrito-flex-row-dektop" >
                 <div class="sizing-div-nombreDelLibro carrito-align-text-center carrito-desktop-diseño carrito-text-align-desktop"><h5 class="carrito-margin-NombreDelLibro">Red Queen</h5></div>
                 <div class="carrito-flex-column-dektop">
                     <div class="carrito-flex-box carrito-flex-direction-row carrito-sizing-div-textos carrito-text-justify-center">
                         <div class="carrito-border carrito-border-left carrito-recuadro-sizing carrito-align-text-center"><h6 class="carrito-margin-textos carrito-font-color">-</h6></div>
                         <div class="carrito-border carrito-border-left carrito-border-right carrito-recuadro-sizing carrito-align-text-center"><h6 class="carrito-margin-textos">1</h6></div>
                         <div class="carrito-border carrito-border-right carrito-recuadro-sizing carrito-align-text-center"><h6 class="carrito-margin-textos carrito-font-color">+</h6></div>
                     </div>
                     <div><h5 class="desktop-margin-precio">$4,320.0</h5></div>
                 </div>
              </div>    
        </article>

        </section>
        <section class="carrito-flex-box carrito-text-justify-center">
           <div class="carrito-flex-box carrito-flex-direction-row carrito-sizing-botton carrito-botton-style">
            <h6 class="color-wite carrito-aling-item-center carrito-align-start">Ir a pagar</h6>
            <h6 class="color-wite carrito-aling-item-center carrito-aling-end">Subtotal $0,000.00</h6></div>
        </section>
    </main>
    <footer class="carrito-body-sizing">
        <div class="sizing-box-logo"><img class="center-logo-book" src="img/logo.jpg" alt="entreLineasLogo"></div>
        <div class="center-letras sizing-box-letras flex-box-letras">
            <h5 class="line-height line-height-letras"><a>Nosotros</a></h5>
            <h5 class="line-height line-height-letras"><a>F.A.Q</a></h5>
            <h5 class="line-height line-height-letras"><a href="/login">Estado de mi pedido</a></h5> 
        </div>
        <div class="sizing-box-media"><img class="center-media" src="img/logos-redes.jpg" alt="logos-redes"></div>
        <div class="sizing-box-coppyright"><h6 class="margin-coppyright style-coppyright line-height-coppyright">ENTRELINEAS©2022</h6></div>

    </footer>
</body>
</html>