<!DOCTYPE html>
<html lang="en">
    
<head>
    <!-- Head -->
    <%- include('../partials/head.ejs') %>
    <title>Entre Lineas - Carrito</title>
</head>

<body class="carrito-body-sizing">
    <!-- Header -->
    <%- include('../partials/header.ejs') %>

    <main class="carrito-body-sizing">
        <div calss="carrito-bottom-border"><h4 class="carrito-align-text-center carrito-bottom-border carrito-margin-titulo">Carrito</h4></div>
        <section class="carrito-section carrito-sizing-saction">

        </section>
        <section class="carrito-flex-box carrito-text-justify-center">
           <div class="carrito-flex-box carrito-flex-direction-row carrito-sizing-botton carrito-botton-style">
            <h6 class="color-wite carrito-aling-item-center carrito-align-start">Ir a pagar</h6>
            <h6 class="color-wite carrito-aling-item-center carrito-aling-end">Subtotal $0,000.00</h6></div>
            <div class="carrito-flex-box carrito-borrar-sizing-botton carrito-botton-style-borrar">
                <h6 class="color-wite carrito-aling-item-center carrito-align-start">Borrar carrito</h6>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
<script src="/js/cart.js"></script> 
</body>
</html>