<!DOCTYPE html>
<html lang="en">
    
<head>
    <!-- Head -->
    <%- include('../partials/head.ejs') %>
    <title>Entre Lineas - Carrito</title>
</head>

<body class="carrito-body-sizing">
    <!-- Header -->
    <%- include('../partials/header.ejs') %>

    <main class="carrito-body-sizing">
        <div calss="carrito-bottom-border"><h4 class="carrito-align-text-center carrito-bottom-border carrito-margin-titulo">Carrito</h4></div>
        <section class="carrito-sizing-saction">
           <article class="carrito-flex-box carrito-flex-direction-row carrito-margin-article carrito-sizing-article carrito-bottom-border">
               <div class="sizing-div-img-libro"><img src="img/products/book-matar-a-un-ruisenior.webp" alt="Foto del producto"></div>

               <div class="carrito-flex-box flex-direction-column carrito-sizing-div carrito-flex-align carrito-flex-row-dektop" >
                    <div class="sizing-div-nombreDelLibro carrito-align-text-center carrito-desktop-dise単o carrito-text-align-desktop"><h5 class="carrito-margin-NombreDelLibro">Matar a un Ruise単or</h5></div>
                    <div class="carrito-flex-column-dektop">
                        <div class="carrito-flex-box carrito-flex-direction-row carrito-sizing-div-textos carrito-text-justify-center">
                            <div class="carrito-border carrito-border-left carrito-recuadro-sizing carrito-align-text-center"><h6 class="carrito-margin-textos carrito-font-color">-</h6></div>
                            <div class="carrito-border carrito-border-left carrito-border-right carrito-recuadro-sizing carrito-align-text-center"><h6 class="carrito-margin-textos">1</h6></div>
                            <div class="carrito-border carrito-border-right carrito-recuadro-sizing carrito-align-text-center"><h6 class="carrito-margin-textos carrito-font-color">+</h6></div>
                        </div>
                        <div><h5 class="desktop-margin-precio">$4,000.0</h5></div>
                    </div>
                 </div>    
           </article>

           <article class="carrito-flex-box carrito-flex-direction-row carrito-margin-article carrito-sizing-article carrito-bottom-border">
            <div class="sizing-div-img-libro"><img src="/img/products/book-la-cabeza-de-macri.webp" alt="Foto del producto"></div>

            <div class="carrito-flex-box flex-direction-column carrito-sizing-div carrito-flex-align carrito-flex-row-dektop" >
                 <div class="sizing-div-nombreDelLibro carrito-align-text-center carrito-desktop-dise単o carrito-text-align-desktop"><h5 class="carrito-margin-NombreDelLibro">La cabeza de Macri</h5></div>
                 <div class="carrito-flex-column-dektop">
                     <div class="carrito-flex-box carrito-flex-direction-row carrito-sizing-div-textos carrito-text-justify-center">
                         <div class="carrito-border carrito-border-left carrito-recuadro-sizing carrito-align-text-center"><h6 class="carrito-margin-textos carrito-font-color">-</h6></div>
                         <div class="carrito-border carrito-border-left carrito-border-right carrito-recuadro-sizing carrito-align-text-center"><h6 class="carrito-margin-textos">1</h6></div>
                         <div class="carrito-border carrito-border-right carrito-recuadro-sizing carrito-align-text-center"><h6 class="carrito-margin-textos carrito-font-color">+</h6></div>
                     </div>
                     <div><h5 class="desktop-margin-precio">$3,200.0</h5></div>
                 </div>
              </div>    
        </article>
   

        <article class="carrito-flex-box carrito-flex-direction-row carrito-margin-article carrito-sizing-article carrito-bottom-border">
            <div class="sizing-div-img-libro"><img src="/img/products/book-red-queen.webp" alt="Foto del producto"></div>

            <div class="carrito-flex-box flex-direction-column carrito-sizing-div carrito-flex-align carrito-flex-row-dektop" >
                 <div class="sizing-div-nombreDelLibro carrito-align-text-center carrito-desktop-dise単o carrito-text-align-desktop"><h5 class="carrito-margin-NombreDelLibro">Red Queen</h5></div>
                 <div class="carrito-flex-column-dektop">
                     <div class="carrito-flex-box carrito-flex-direction-row carrito-sizing-div-textos carrito-text-justify-center">
                         <div class="carrito-border carrito-border-left carrito-recuadro-sizing carrito-align-text-center"><h6 class="carrito-margin-textos carrito-font-color">-</h6></div>
                         <div class="carrito-border carrito-border-left carrito-border-right carrito-recuadro-sizing carrito-align-text-center"><h6 class="carrito-margin-textos">1</h6></div>
                         <div class="carrito-border carrito-border-right carrito-recuadro-sizing carrito-align-text-center"><h6 class="carrito-margin-textos carrito-font-color">+</h6></div>
                     </div>
                     <div><h5 class="desktop-margin-precio">$4,320.0</h5></div>
                 </div>
              </div>    
        </article>

        </section>
        <section class="carrito-flex-box carrito-text-justify-center">
           <div class="carrito-flex-box carrito-flex-direction-row carrito-sizing-botton carrito-botton-style">
            <h6 class="color-wite carrito-aling-item-center carrito-align-start">Ir a pagar</h6>
            <h6 class="color-wite carrito-aling-item-center carrito-aling-end">Subtotal $0,000.00</h6></div>
            <div class="carrito-flex-box carrito-borrar-sizing-botton carrito-botton-style-borrar">
                <h6 class="color-wite carrito-aling-item-center carrito-align-start">Borrar carrito</h6>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
<script src="/js/cart.js"></script> 
</body>
</html>