<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head -->
    <%- include('../partials/head.ejs') %>
    <title>Entre Lineas - Crear Producto</title>
</head>

<body>
    <header class="createpr-header">
            
        <div class="sizing-menu-paty crearpr-desap-Desktop"><img class="centrar-icono" src="img/menu-paty.jpg"
                alt="menu-paty">
        </div>
        <div class="sizing-logo"><a href="/"><img class="centrar-logo" src="img/logo-entre-lineas.jpg" alt="entreLineasLogo"></a></div>

        <div class="creatpr-desap-Mobile crearpr-flex-box-texto">
            <div class = "grow"><h6><a href="/listarProducto">Listar Productos</a></h6></div>
            <div class = "grow"><h6><a href="/crearProducto">Crear Productos</a></h6></div>
            <div class = "grow"><h6><a href="/editarProducto">Editar Productos</a></h6></div>
        </div>
        <div class="sizing-carrito ordenar-carrito"><a href="/home"><img class="centrar-icono" src="img/icono-home.png" alt="home"></a></div>
       
    </header>

 
    <main>
        <h3 class="creatprod-title">CREAR PRODUCTO</h3>
        <form class="createpr-form-padding-left" action="" method="get">
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="productName">Nombre del producto:</label></div>
                    <input class="box-ingrese-datos" type="text" name="productName" id="productName" 
                        placeholder="Ingrese el nombre del producto" required>
                    
                </div>
                <div>
                    <p class="createpr-label-font">Tipo de producto:</p>
                    <input type="radio" id="book" name="type" value="book">
                    <label class="createpr-label-font" for="center-logo-book">Libro</label><br>
                    <input type="radio" id="ebook" name="type" value="ebook">
                    <label class="createpr-label-font" for="ebook">Ebook</label><br>
                    <input type="radio" id="varios" name="type" value="varios">
                    <label class="createpr-label-font" for="varios">Varios</label>
                </div>

                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="name">Imagen del producto:</label></div>
                    <input class="box-ingrese-datos" type="file" name="name" multiple accept=".jpg, .png" required>
                </div>

                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="author">Autor:</label></div>
                    <input class="box-ingrese-datos" type="text" name="author" id="author" 
                        placeholder="Ingrese el nombre del autor" required>
                </div>

                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font"  for="price">Precio:</label></div>
                    <input class="box-ingrese-datos" type="number" name="price" id="price" 
                         required>
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="about">Reseña:</label></div>
                    <textarea  name="about" id="about" placeholder="Agregue una breve descripcion del libro"></textarea> 
                </div>

                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="gender">Género:</label></div>
                    <input class="box-ingrese-datos" type="text" name="gender" id="gender" 
                    placeholder="Ingrese el género del libro" required>
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="bookSize">Tamaño:</label></div>
                    <input class="box-ingrese-datos" type="text" name="size" id="bookSize" 
                    placeholder="Ingrese el tamaño del libro (ancho x alto, en cm)" >
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="pages">Paginas:</label></div>
                    <input class="box-ingrese-datos" type="text" name="pages" id="pages" 
                    placeholder="Ingrese el número de páginas que contiene el libro" >
                </div>
                <div class="">
                    <div class="">
                    <div><label class="createpr-label-font" for="more">"Mas Información":</label></div>
                    <textarea  name="more" id="more" placeholder="Agregue información adicional sobre el producto"></textarea> 
                </div>



               
                <div class="creatProd-buttom"> 
                    <a href="/">
                        <button class="createProd-buttom-centr"><img class="img-buttom" src="/img/agregar-nuevo.png" alt="icon"></button>
                    </a>
                </div>
        </form>
               
    </main>



    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
</html>