<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head -->
    <% include('../partials/head.ejs')
    <title>Entre Lineas - Detalle</title>
</head>

<body>
    <!-- Header -->
    <%- include('../partials/header.ejs') %>

    <main class="detail-main">
        <article class="product detail-first-column">
            <div class="img-more">
                <nav class="nav-book-select">
                    <input type="radio" name="detail-book-select" value="">
                    <input type="radio" name="detail-book-select" value="">
                </nav>
                <img class="book-product-img " src="/img/book-matar-a-un-ruisenior.webp" alt="libro de prueba">
            </div>
        </article>
        <article class="product detail-second-column">
            <section class="book-detail-home ">
                <div class="book-name-price">
                    <h5 class="book-product-name">Matar a un Ruiseñor</h5>
                    <h5 class="book-product-price">$3260.00</h5>
                </div>
                <h6 class="book-product-author">Harper Lee</h6>
                <a href="/carrito">
                    <input class="add-cart-button" type="button" value="Agregar al carrito">
                </a>
            </section>
            <section class="send-mail-description">
                <div class="icon-with-text">
                    <img class="icon-deliver" src="img/icono-envio.jpg" alt="Icono de envio">
                    <p class="icon-text">Envío a todo el mundo</p>
                </div>
                <div class="icon-with-text">
                    <img class="icon-deliver" src="img/icono-correo.jpg" alt="Icono de envio">
                    <p class="icon-text">Retiro por coreo</p>
                </div>
                <section class="detail-description-text">
                    <h5>Reseña libro</h5>
                    <p>Esta es una descripcion del libro, tiene cara, contratapa y adentro esta lleno de papeles llamados hojas. Entretenido y maduro a la vez</p>
                </section>
            </section>
            <section class="detail-extra-info">
                <div class="detail-extra-rect detail-title-info-ficha">
                    <h4 class="detail-title-info ">Ficha Tecnica</h4>
                    <img class="detail-info-arrow" src="img/arrow-down.png" alt="Boton en forma de flecha hacia abajo">
                    <div>
                        <p class="hidden-until-click display-more-tech">
                            <strong>Genero</strong>: Informativo
                            <strong>Tamaño</strong>: 12x21cm
                            <strong>Páginas</strong>: 360
                        </p>
                    </div>
                </div>
                <div class="detail-extra-rect detail-title-info-more">
                    <h4 class="detail-title-info ">Más Información</h4>
                    <img class="detail-info-arrow" src="img/arrow-down.png" alt="Boton en forma de flecha hacia abajo">
                    <div>
                        <p class="hidden-until-click display-more-info">
                            Aqui les traemos un ejemplar unico del autor BLA hablando sobre su inmensa obra a lo largo de los años, y le preguntamos
                            sobre su impacto en la sociedad, por ejemplo.
                        </p>
                    </div>
                </div>
            </section>
        </article>
    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>