<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head -->
    <%- include('../partials/head.ejs') %>
    <title>Entre Lineas - Generaste Compra</title>
</head>

<body>
    <!-- Header -->
    <%- include('../partials/prodHeader.ejs') %>

 
    <main>
   
        
        <article class="mje-comprado">
            <h1>Generaste tu compra!! </h1>
            
                
                
                <a  class="botonVolver" href="/movies">Listado de Películas</a></p>
    
            </form>
        </article>
    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
</body>

</html>