<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EL - Listar Producto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header class="createpr-header">
            
        <div class="sizing-menu-paty crearpr-desap-Desktop"><img class="centrar-icono" src="img/menu-paty.jpg"
                alt="menu-paty">
        </div>
        <div class="sizing-logo"><a href="/"><img class="centrar-logo" src="img/logo-entre-lineas.jpg" alt="entreLineasLogo"></a></div>

        <div class="listarpr-desap-Mobile crearpr-flex-box-texto">
            <div class = "grow"><h6><a>Listar Productos</a></h6></div>
            <div class = "grow"><h6><a>Crear Productos</a></h6></div>
            <div class = "grow"><h6><a>Editar Productos</a></h6></div>
        </div>
        <div class="sizing-carrito ordenar-carrito"><a href="/home"><img class="centrar-icono" src="img/icono-home.png" alt="home"></a></div>
       
    </header>

 
    <main>
        <h3 class="creatprod-title">LISTADO DE PRODUCTOS</h3>
        <div class="creatProd-buttom"> 
            <button class="centrar-boton button-crear-cuenta">Agregar Producto</button>
        </div>

        <form class="nav-search" action="" method="GET" role="search" >
            <input  class="box-ingrese-datos" type="text" placeholder="Filtrar">
            <button type="submit" class="nav-search-btn" tabindex="3">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>

        <article class="">



        </article>    
        
    </main>



    <footer class="creatpr-footer">
        <div class="sizing-box-logo"><img class="center-logo-book" src="img/logo.jpg" alt="entreLineasLogo"></div>
        
        
        <div class="fot-createpr-box-coppyright">ENTRELINEAS©2022
        </div>

    </footer>
</body>

</html>