<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h2>carrousel con flechas </h2>
        <div>logo</div>
        <ul>
            <li><a>Libros</a></li>
            <li><a>E-books</a></li>
            <li><a>Productos</a></li>
            <li>ARS</li>
            <li>USD</li>
            <li>logo carrito</li>
        </ul>

    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>