<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h5>carrousel con flechas </h5>
        <div><img src="img/logo entre lineas.jpg" alt="entreLineasLogo"></div>
        
            <div>
                <ul>
                <li><a>Libros</a></li>
                <li><a>E-books</a></li>
                <li><a>Productos</a></li>
             </ul>
            </div>
            <div>
                <h6>ARS</h6>
                <h6>USD</h6>
            </div>
            <div>logo carrito</div>

    </header>
    <main>

    </main>
    <footer>
        <div><img src="img/logo entre lineas.jpg" alt="entreLineasLogo"></div>
        <div><ul>
            <li><a>Nosotros</a></li>
            <li><a>F.A.Q</a></li>
            <li><a>Estado de mi pedido</a></li>
        </ul></div>
        <div><img src="img/logos-redes.jpg" alt="logos-redes"></div>
        <h6>ENTRELINEAS©2022</h6>

    </footer>
</body>
</html>