<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h5>carrousel con flechas </h5>
        <div>logo</div>
        <ul>
            <li><a>Libros</a></li>
            <li><a>E-books</a></li>
            <li><a>Productos</a></li>
            <li>ARS</li>
            <li>USD</li>
            <li>logo carrito</li>
        </ul>

    </header>
    <main>

    </main>
    <footer>
        <div>logo</div>
        <ul>
            <li><a>Nosotros</a></li>
            <li><a>F.A.Q</a></li>
            <li><a>Estado de mi pedido</a></li>
        </ul>
        <div>logo redes</div>
        <h6>ENTRELINEAS©2022</h6>

    </footer>
</body>
</html>