<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <h1 class="main-title">ENTRE LINEAS</h1>
        <div class=" carrousel-size carrousel-style ">
            <h5 class="line-height"> carrousel con flechas </h5>
        </div>
        <div class="go-back-arrow centrar-boton desaparecerDesktop"><img class="centrar-icono" src="img/arrow-down.png"
                alt="Flecha para volver a menu principal"></div>
                <div class="sizing-logo"><a href="/"><img class="centrar-logo" src="img/logo-entre-lineas.jpg" alt="entreLineasLogo"></a></div>
                <div class="desaparecerEnMobile flex-box-texto-detail size-box-texto">
                    <div class="go-back-arrow"><img class="centrar-icono" src="img/arrow-down.png" alt="Flecha para volver a menu principal"></div>
                    <h6 class="margin-right-text">Volver a Tienda</h6>
                </div>
        <div class="sizing-carrito ordenar-carrito"><a href="/carrito"><img class="centrar-icono" src="img/carrito.jpg" alt="carrito"></a>
        </div>

        <div class="align-monedas sizing-monedas">
            <div>
                <h6 class="line-height line-height-desktop">ARS | USD</h6>

            </div>
        </div>


    </header>

    <main class="detail-main">
        <article class="product detail-first-column">
            <div class="img-more">
                <img class="book-product-img" src="img\book-test.png" alt="libro de prueba">
            </div>
        </article>
        <article class="product detail-second-column">
            <section class="book-detail-home ">
                <div class="book-name-price">
                    <h5 class="book-product-name">Nombre del libro con titulo larguisimo osea recontra largo asjsf arrivederci saionra wtf</h5>
                    <h5 class="book-product-price">$1.000.000.000,00</h5>
                </div>
                <h6 class="book-product-author">Autor del libro</h6>
                <input class="add-cart-button" type="button" value="Agregar al carrito">
            </section>
            <section class="send-mail-description">
                <div class="icon-with-text">
                    <img class="icon-deliver" src="img/icono-envio.jpg" alt="Icono de envio">
                    <p class="icon-text">Envío a todo el mundo</p>
                </div>
                <div class="icon-with-text">
                    <img class="icon-deliver" src="img/icono-correo.jpg" alt="Icono de envio">
                    <p class="icon-text">Retiro por coreo</p>
                </div>
                <section class="detail-description-text">
                    <h5>Reseña libro</h5>
                    <p>Esta es una descripcion del libro, tiene cara, contratapa y adentro esta lleno de papeles llamados hojas. Entretenido y maduro a la vez</p>
                </section>
            </section>
            <section class="detail-extra-info">
                <div class="detail-extra-rect detail-title-info-ficha">
                    <h4 class="detail-title-info ">Ficha Tecnica</h4>
                    <img class="detail-info-arrow" src="img/arrow-down.png" alt="Boton en forma de flecha hacia abajo">
                    <p class="hidden-until-click display-more-tech">
                        <strong>Genero</strong>: Informativo
                        <strong>Tamaño</strong>: 12x21cm
                        <strong>Páginas</strong>: 360
                    </p>
                </div>
                <div class="detail-extra-rect detail-title-info-more">
                    <h4 class="detail-title-info ">Más Información</h4>
                    <img class="detail-info-arrow" src="img/arrow-down.png" alt="Boton en forma de flecha hacia abajo">
                    <p class="hidden-until-click display-more-info">
                        Aqui les traemos un ejemplar unico del autor BLA hablando sobre su inmensa obra a lo largo de los años, y le preguntamos
                        sobre su impacto en la sociedad, por ejemplo.
                    </p>
                </div>
            </section>
        </article>
    </main>

    

    <footer>
        <div class="sizing-box-logo"><img class="center-logo-book" src="img/logo.jpg" alt="entreLineasLogo"></div>
        <div class="center-letras sizing-box-letras flex-box-letras">
            <h5 class="line-height line-height-letras"><a>Nosotros</a></h5>
            <h5 class="line-height line-height-letras"><a>F.A.Q</a></h5>
            <h5 class="line-height line-height-letras"><a>Estado de mi pedido</a></h5> 
        </div>
        <div class="sizing-box-media"><img class="center-media" src="img/logos-redes.jpg" alt="logos-redes"></div>
        <div class="sizing-box-coppyright"><h6 class="margin-coppyright style-coppyright line-height-coppyright">ENTRELINEAS©2022</h6></div>

    </footer>
</body>
</html>