<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <div class=" carrousel-size carrousel-style "><h5 class="line-height"> carrousel con flechas </h5></div>
        <div class="sizing-menu-paty desaparecerDesktop"><img class="centrar-icono" src="img/menu-paty.jpg" alt="menu-paty"></div>
        <div class="sizing-logo"><img class="centrar-logo" src="img/logo-entre-lineas.jpg" alt="entreLineasLogo"></div>
        
        <div class="desaparecerEnMobile flex-box-texto size-box-texto">
                <h5 class="margin-right-text"><a>Libros</a></h5>
                <h5 class="margin-right-text"><a>E-books</a></h5>
                <h5 class="margin-right-text"><a>Productos</a></h5>
         </div>
        
        <div class="sizing-carrito ordenar-carrito"><img class="centrar-icono" src="img/carrito.jpg" alt="carrito"></div>

        <div class="align-monedas sizing-monedas" >
                <div><h6 class="line-height line-height-desktop">ARS | USD</h6></div>
        </div>
            

    </header>
    <main class="home-main">
        <article class="product">
            <div class="img-more">
                <img class="book-product-img" src="img\book-test.png" alt="libro de prueba">
            </div>
            <section class="book-detail-home">
                <div class="book-name-price">
                    <h5 class="book-product-name">Nombre del libro</h5>
                    <h5 class="book-product-price">$0.000,00</h5>
                </div>
                <h6 class="book-product-author">Autor del libro</h6>
            </section>
            <input class="add-cart-button" type="button" value="Agregar al carrito">
        </article>
        <section class="send-mail-description">
            <div class="icon-with-text">
                <img class="icon-deliver" src="img/icono-envio.jpg" alt="Icono de envio">
                <p class="icon-text">Envío a todo el mundo</p>
            </div>
            <div class="icon-with-text">
                <img class="icon-deliver" src="img/icono-correo.jpg" alt="Icono de envio">
                <p class="icon-text">Retiro por coreo</p>
            </div>
            <h5>Reseña libro</h5>
            <p>Esta es una descripcion del libro, tiene cara, contratapa y adentro esta lleno de papeles llamados hojas. Entretenido y maduro a la vez</p>
        </section>
        <section class="detail-extra-info">
            <div class="detail-extra-rect">
                <h4 class="detail-title-info">Ficha Tecnica</h4>
                <img class="detail-info-arrow" src="img/arrow-down.png" alt="Boton en forma de flecha hacia abajo">
            </div>
            <div class="detail-extra-rect">
                <h4 class="detail-title-info">Más Información</h4>
                <img class="detail-info-arrow" src="img/arrow-down.png" alt="Boton en forma de flecha hacia abajo">
            </div>
        </section>
    </main>
    <footer>
        <div class="sizing-box-logo"><img class="center-logo-book" src="img/logo.jpg" alt="entreLineasLogo"></div>
        <div class="center-letras sizing-box-letras flex-box-letras">
            <h5 class="line-height line-height-letras"><a>Nosotros</a></h5>
            <h5 class="line-height line-height-letras"><a>F.A.Q</a></h5>
            <h5 class="line-height line-height-letras"><a>Estado de mi pedido</a></h5> 
        </div>
        <div class="sizing-box-media"><img class="center-media" src="img/logos-redes.jpg" alt="logos-redes"></div>
        <div class="sizing-box-coppyright"><h6 class="margin-coppyright style-coppyright line-height-coppyright">ENTRELINEAS©2022</h6></div>

    </footer>
</body>
</html>