<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre Lineas - Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header>
        <h1 class="main-title">ENTRE LINEAS</h1>
        <div class=" carrousel-size carrousel-style ">
            <h5 class="line-height"> carrousel con flechas </h5>
        </div>
        <div class="sizing-menu-paty desaparecerDesktop"><img class="centrar-icono" src="img/menu-paty.jpg"
                alt="menu-paty"></div>
        <div class="sizing-logo"><a href="/"><img class="centrar-logo" src="img/logo-entre-lineas.jpg" alt="entreLineasLogo"></a></div>

        <div class="desaparecerEnMobile flex-box-texto size-box-texto">
            <h6 class="margin-right-text"><a>Libros</a></h6>
            <h6 class="margin-right-text"><a>E-books</a></h6>
            <h6 class="margin-right-text"><a>Productos</a></h6>
        </div>

        <div class="sizing-carrito ordenar-carrito"><a href="/carrito"><img class="centrar-icono" src="img/carrito.jpg" alt="carrito"></a>
        </div>

        <div class="align-monedas sizing-monedas">
            <div>
                <h6 class="line-height line-height-desktop">ARS | USD</h6>

            </div>
        </div>


    </header>

    <main class="home-main">
        <img class="home-banner" src="img/Banner.jpg" alt="Estanteria con Libros">
        <section class="product-showcase">
            <article class="product">
                <div class="img-more">
                    <img class="home-book-product-img" src="img\book-la-cabeza-de-macri.webp" alt="libro de prueba">
                    <div class="position-ver-mas"><a href="/Detalle"><input class="see-more home-prod-btm" type="button" value="Ver más"></a></div>
                    <div class="position-button-comprar"><input class="comprar home-prod-btm" type="button" value="Comprar"></div>
                    <!-- <input class="buy-item home-prod-btm" type="button" value="Comprar"> -->
                </div>
                <section class="book-detail-home">
                    <div class="book-name-price">
                        <h5 class="book-product-name">La Cabeza de Macri</h5>
                        <h5 class="book-product-price">$4.000,00</h5>
                    </div>
                    <h6 class="book-product-author">Franco Linder</h6>
                </section>
                <input class="home-add-cart-button" type="button" value="Agregar al carrito">
            </article>
            <article class="product">
                <div class="img-more">
                    <img class="home-book-product-img" src="img\book-matar-a-un-ruisenior.webp" alt="libro de prueba">
                    <div class="position-ver-mas"><a href="/Detalle"><input class="see-more home-prod-btm" type="button" value="Ver más"></a></div>
                    <div class="position-button-comprar"><input class="comprar home-prod-btm" type="button" value="Comprar"></div>
                </div>
                <section class="book-detail-home">
                    <div class="book-name-price">
                        <h5 class="book-product-name">Matar a un Ruiseñor</h5>
                        <h5 class="book-product-price">$3.260,00</h5>
                    </div>
                    <h6 class="book-product-author">Harper Lee</h6>
                </section>
                <input class="home-add-cart-button" type="button" value="Agregar al carrito">
            </article>
            <article class="product">
                <div class="img-more">
                    <img class="home-book-product-img" src="img\book-red-queen.webp" alt="libro de prueba">
                    <div class="position-ver-mas"><a href="/Detalle"><input class="see-more home-prod-btm" type="button" value="Ver más"></a></div>
                    <div class="position-button-comprar"><input class="comprar home-prod-btm" type="button" value="Comprar"></div>
                </div>
                <section class="book-detail-home">
                    <div class="book-name-price">
                        <h5 class="book-product-name">Red Queen</h5>
                        <h5 class="book-product-price">$2.600,00</h5>
                    </div>
                    <h6 class="book-product-author">Victoria Avyard</h6>
                </section>
                <input class="home-add-cart-button" type="button" value="Agregar al carrito">
            </article>
            <article class="product">
                <div class="img-more">
                    <img class="home-book-product-img" src="img\book-harry-potter.jpeg" alt="libro de prueba">
                    <div class="position-ver-mas"><a href="/Detalle"><input class="see-more home-prod-btm" type="button" value="Ver más"></a></div>
                    <div class="position-button-comprar"><input class="comprar home-prod-btm" type="button" value="Comprar"></div>
                </div>
                <section class="book-detail-home">
                    <div class="book-name-price">
                        <h5 class="book-product-name">Harry Potter</h5>
                        <h5 class="book-product-price">$5.200,00</h5>
                    </div>
                    <h6 class="book-product-author">J.K. Rowling</h6>
                </section>
                <input class="home-add-cart-button" type="button" value="Agregar al carrito">
            </article>
            <article class="product">
                <div class="img-more">
                    <img class="home-book-product-img" src="img\book-las-vidas-dentro-de-tu-cabeza.webp" alt="libro de prueba">
                    <div class="position-ver-mas"><a href="/Detalle"><input class="see-more home-prod-btm" type="button" value="Ver más"></a></div>
                    <div class="position-button-comprar"><input class="comprar home-prod-btm" type="button" value="Comprar"></div>
                </div>
                <section class="book-detail-home">
                    <div class="book-name-price">
                        <h5 class="book-product-name">Las vidas dentro de tu cabeza</h5>
                        <h5 class="book-product-price">$5.400,00</h5>
                    </div>
                    <h6 class="book-product-author">Carlos Sánchez</h6>
                </section>
                <input class="home-add-cart-button" type="button" value="Agregar al carrito">
            </article>
            <article class="product">
                <div class="img-more">
                    <img class="home-book-product-img" src="img\book-el-buen-cirujano.webp" alt="libro de prueba">
                    <div class="position-ver-mas"><a href="/Detalle"><input class="see-more home-prod-btm" type="button" value="Ver más"></a></div>
                    <div class="position-button-comprar"><input class="comprar home-prod-btm" type="button" value="Comprar"></div>
                </div>
                <section class="book-detail-home">
                    <div class="book-name-price">
                        <h5 class="book-product-name">El Buen Cirujano</h5>
                        <h5 class="book-product-price">$7.200,00</h5>
                    </div>
                    <h6 class="book-product-author">Ricardo Garcia</h6>
                </section>
                <input class="home-add-cart-button" type="button" value="Agregar al carrito">
            </article>
        </section>
        
    </main>

    <footer>
        <div class="sizing-box-logo"><img class="center-logo-book" src="img/logo.jpg" alt="entreLineasLogo"></div>
        <div class="center-letras sizing-box-letras flex-box-letras">
            <h5 class="line-height line-height-letras"><a>Nosotros</a></h5>
            <h5 class="line-height line-height-letras"><a>F.A.Q</a></h5>
            <h5 class="line-height line-height-letras"><a>Estado de mi pedido</a></h5>
        </div>
        <div class="sizing-box-media"><img class="center-media" src="img/logos-redes.jpg" alt="logos-redes"></div>
        <div class="sizing-box-coppyright">
            <h6 class="margin-coppyright style-coppyright line-height-coppyright">ENTRELINEAS©2022</h6>
        </div>

    </footer>
</body>

</html>