<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre Lineas - Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <!--<link rel="stylesheet" href="/css/normalize.css">-->
    <link rel="stylesheet" href="css/styles.css">

</head>

<body class="login-body-background-img body-size-login">
    <header class="login-header">

    </header>

    <main class="login-main">
        <section class="login-main-section">
            <div class="login-logo">
                <img class="login-logo-chico" src="img/logo-entre-lineas.jpg" alt="logo">
                <div class="alinear-login-form">
                    <form action="" method="">
                        <div>
                            <h5 class="titulo-box-izq-abajo"><label for="email">Email:</label></h5>
                        </div>
                        <div><input class="box-ingrese-datos" type="email" name="emailUsuario" id="email"
                                placeholder="Ingrese su email"></div>
                        <div>
                            <h5 class="titulo-box-izq-abajo"><label for="password">Contraseña</label></h5>
                        </div>
                        <div><input class="box-ingrese-datos" type="password" name="passwordUsuario" id="password"
                                placeholder="Ingrese su contraseña"></div>
                    </form>
                </div>

                <div>
                    <h5 class="login-h5-centrado"><a href='recover-pass.html'>¿Olvidaste tu Contraseña?</a></h5>
                </div>
                <div>
                    <h5 class="login-h5-centrado">Recuérdame. Detalles</h5>
                </div>
                <div>
                    <h5 class="login-h5-centrado"> <button class=" button-ingreso-google"><img
                                class="tamaño-logo-google" src="/img/google.jpg" alt="logo google"> Ingresá con
                            Google</button></h5>
                </div>
                <div>
                    <h5 class="login-h5-centrado">Nuevo Cliente</h5>
                </div>
                <div>
                    <h5 class="login-h5-centrado"> <button class="button-crear-cuenta">Crear nueva Cuenta</button></h5>
                </div>
            </div>
        </section>
    </main>
    <footer class="login-footer">

    </footer>

</body>

</html>