<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Entre Lineas Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Lato:wght@300;400&display=swap" rel="stylesheet">
   <!--<link rel="stylesheet" href="/css/normalize.css">--> 
   <link rel="stylesheet" href="css/styles.css">
   
</head>
<body class="login-body-background-img body-size-login">
    <header class="login-header"> 
    
    </header>

    <main class="login-main" >
         
            <div class="login-logo">
                <img class="login-logo-chico" src="img/logo-entre-lineas.jpg" alt="logo">
            </div>

            <form  action="" method="">
                    <div class="register-cont-label-input">
                        <div><label for="nombre">Nombre:</label></div>
                        <input class="box-ingrese-datos" type="text" name="nombre" id="nombre" 
                            placeholder="Ingrese su nombre">
                        
                    </div>
                   
                    <div class="register-cont-label-input">
                        <div><label for="nombre">Apellido:</label></div>
                        <input class="box-ingrese-datos" type="text" name="apellido" id="apellido"
                             placeholder="Ingrese su apellido">
                    </div>
                   
                   
                    <div>
                        <div class="etiq-contenedor" ><label>Documento:</label></div>
                        <div class="register-cont-2box">
                            <div class="register-cont-label-imput">
                                <div><label for="tipodoc">Tipo</label></div>
                                <div>
                                    <select class="box-ingrese-datos" name="tipodoc">
                                         <option value="dni">Dni</option>
                                         <option value="dni">Pasaporte</option>
                                    </select>
                                </div>
                            </div>

                            <div class="register-cont-label-input">
                                <div><label for="documento">Número</label></div>
                                <input class="box-ingrese-datos" type="number" name="documento" id="documento"
                                placeholder="Ingrese el numero">
                            </div>
                        </div> 
                    </div>

                    <div>
                        <div class="etiq-contenedor"><label>Teléfono:</label></div>
                        <div class="register-cont-2box">
                            <div class="register-cont-label-imput">
                                <div><label>C.área</label></div>
                                <div>
                                    <select class="box-ingrese-datos" name="Área">
                                        <option value="011">BsAs</option>
                                            <option value="0387">Salta</option>
                                            <option value="0381">Tucumán</option>
                                    </select>
                                </div>
                            </div>
                        

                            <div class="register-cont-label-input">
                                 <div><label for="nrotel">Número</label></div>
                                <input class="box-ingrese-datos" type="number" name="nrotel" id="nrotel"
                                 placeholder="Ingrese el numero">
                            </div>
                        </div>
                
                    </div>

                    <div class="register-cont-label-input">
                        <div><label for="email">Email:</label></div>
                        <input class="box-ingrese-datos" type="email" name="email" id="email" 
                            placeholder="Ingrese su nombre">
                        
                    </div>

                    <div class="register-cont-label-input">
                        <div><label for="password">Ingrese contraseña:</label></div>
                        <input class="box-ingrese-datos" type="password" name="passwordUsuario" id="password"
                             placeholder="Ingrese su contraseña">
                        
                    </div>

                    <div class="register-cont-label-input">
                        <div><label for="confpass">Confirme contraseña</label></div>
                        <input class="box-ingrese-datos" type="password" name="confpass" id="confpass"
                             placeholder="Confirme su contraseña">
                    </div>
                    


            </form>
            

           
            
            <div class="centrar-boton"> 
                <button class="centrar-boton button-crear-cuenta">Crear nueva Cuenta</button>
            </div>
                           
           
        
    </main>
    <footer class="login-footer">

    </footer>
    
</body>
</html>