<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head -->
    <%- include('./partials/head.ejs') %>
    <title>Entre Lineas - Listar Autores</title>
</head>

<body>
    <!-- Header -->
    <%- include('./partials/authorHeader.ejs') %>
    <h3 class="h3-crearautor">Ingresar nuevo Autor</h1>
    <form class="createpr-form-padding-left" action="crear" method="POST">
        <div>
            <label for="fullName"></label>Nombre del autor</label>
            <input class="box-ingrese-datos" type="text" name="fullName" id="fullName"/>
        </div>
        <button class="centrar-button" type="submit">Enviar</button>
    </form>
 
   
    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
</body>

</html>