<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head -->
    <%- include('./partials/head.ejs') %>
    <title>Entre Lineas - Crear Géneros</title>
</head>

<body>
    <!-- Header -->
    <%- include('./partials/genreHeader.ejs') %>
    <h3 class="h3-crearautor">Ingresar nuevo Género</h3>
    <form class="createpr-form-padding-left" action="crear" method="POST">
        <div>
            <label for="name"></label>Nombre del género</label>
            <input
                class="box-ingrese-datos"
                type="text"
                name="name"
                id="name"
                placeholder="Ingrese un género con nombre entre 3 y 40 caracteres"
            />
            <div class="divErrorFirstName text-red">
                <% if (locals.errors && errors.name) { %>
                    <div class="text-red">
                        <%= errors.name.msg %>
                    </div>
                <% } %>
            </div>           
        </div>
        <button class="enviar-nuevo" type="submit">Enviar</button>
    </form>
 
   
    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
    <script src="/js/createGenre.js"></script>
</body>

</html>