<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head -->
    <%- include('./partials/head.ejs') %>
    <title>Entre Lineas - Crear Géneros</title>
</head>

<body>
    <!-- Header -->
    <%- include('./partials/genreHeader.ejs') %>
    <h3 class="h3-crearautor">Ingresar nuevo Género</h1>
    <form class="createpr-form-padding-left" action="crear" method="POST">
        <div>
            <label for="name"></label>Nombre del género</label>
            <input class="box-ingrese-datos" type="text" name="name" id="name"/>
        </div>
        <button class="centrar-button" type="submit">Enviar</button>
    </form>
 
   
    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
</body>

</html>