<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head -->
    <%- include('./partials/head.ejs') %>
    <title>Entre Lineas - Crear Autores</title>
</head>

<body>
    <!-- Header -->
    <%- include('./partials/authorHeader.ejs') %>
    <h3 class="h3-crearautor">Ingresar nuevo Autor</h1>
    <form class="createpr-form-padding-left" action="crear" method="POST">
        <div>
            <label for="fullName">Nombre del autor</label>
                <input 
                    class="box-ingrese-datos" 
                    type="text" 
                    name="fullName" 
                    id="fullName"
                    placeholder="Ingrese un nombre de autor entre 3 y  60 caracteres"
                />
            
            <div class="divErrorFirstName text-red">
                <% if (locals.errors && errors.fullName) { %>
                    <div class="text-red">
                        <%= errors.fullName.msg %>
                    </div>
                <% } %>
            </div>
        </div>
        <button class="enviar-nuevo" type="submit">Enviar</button>
    </form>
 
   
    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
    <script src="/js/createAuthor.js"></script>
</body>

</html>