<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head -->
    <%- include('./partials/head.ejs') %>
        <title>Entre Lineas - ERROR!</title>
</head>

<body class="login-body-background-img body-size-login">
    <header class="login-header">

    </header>

    <main class="login-main">
        <div class="login-auth-page-card">
            <div class="login-logo">
                <a href="/">
                    <img class="login-logo-chico" src="/img/logo-entre-lineas.jpg" alt="logo">
                </a>
            </div>
            <div class="error404">
                <h2>¡Oh no!</h2>
                <h3>Parece que la pagina a la que intestase acceder no se encuentra entre las disponibles</h3>
                <br>
                <p>Podemos sugerirte que vuelvas a la pagina anterior, o que pruebes con uno de los siguientes enlaces aqui abajo:</p>
                <section class="error-buttons-desktop">
                    <div>
                        <a href="/"><button class="button-error gris-claro">Pagina principal</button></a>
                    </div>
                    <br>
                    <div>
                        <a href="/users/login"><button class="button-error gris-claro">Login</button></a>
                    </div>
                    <br>
                    <div>
                        <a href="/users/register"><button class="button-error gris-claro">Registrarse</button></a>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <footer class="login-footer"></footer>
    <script src="/js/login.js"></script>
</body>

</html>