
<header class="product-header">
    <section class="create-pr-header">   
        <div class="sizing-menu-paty crearpr-desap-Desktop"><img class="centrar-icono" src="/img/menu-paty.jpg"
                alt="menu-paty">
        </div>
        
        <div class="sizing-logo"><a href="/"><img class="centrar-logo" src="/img/logo-entre-lineas.jpg" alt="entreLineasLogo"></a></div>

        <div class="creatProd-buttom"> 
            <a href ='/products/create'><button class="create-buttom"><span class="material-symbols-outlined">add</span></button></a>
        </div>
    
        <div class="div-nav-search">
            <form class="nav-search" action="/products/search" method="POST" role="search" >
                <input  class="box-ingrese-datos" type="text" placeholder="Buscar" name="search">
                <button type="submit" class="nav-search-btn" tabindex="3">
                    <span class="material-symbols-outlined"><img src="/img/outline_search_white_24dp.png" alt="search"></span>
                </button>
            </form>
        </div>
    
        <div class="creatProd-buttom-desktop"> 
            <a href ='/authors/crear'><button class="create-buttom ">Agregar Autor</button></a>
        </div>
          
        <div class="head_logos_login products_hed_logos_login">
             
                    <% if (locals.isLogged) { %>
                      
                            <div class="cont-pic-name">
                                <a class="user_profile_picture_nav" href="/users/userProfile" >
                                    <img class= "login-img" src="/img/users/<%=locals.userLogged.profilePic %>">
                                </a>
                            </div>
                            <div class="nav-bot-header">
                                <a class="nav-link" href="/users/logout">Logout</a>
                           </div>
                           
                    <% } else { %>    
                        <div class="nav-bot-header"><a class="nav-link" href="/users/login">Login</a></div>
                    <% } %>
            
        </div>
    </section>
        <%- include('../partials/navbar.ejs') %>
    </header>
    <% if (locals.isLogged) { %>
        <div class='burger-menu-backgrwound-admin burger-menu-display-none'>
            <div class='div-content-bm'>
                <img class="login-img" src="/img/users/<%=locals.userLogged.profilePic%>"/>
                <a class="left-margin-email-burger-manu" href="/users/userProfile"><%=locals.userLogged.email%></a>
            </div>
            <div class='div-content-bm'>
                <a href='/'>Vista previa home</a>
            </div>
            <div class='div-content-bm-types-admin'><p>Gestionar:</p>
                <div class='subdiv-content-bm'><a href='/products'>Productos</a></div>
                <div class='subdiv-content-bm'><a href='/authors'>Autores</a></div>
                <div class='subdiv-content-bm'><a href='/editorials'>Editoriales</a></div>
                <div class='subdiv-content-bm'><a href='/genres'>Generos</a></div>
                <div class='subdiv-content-bm'><a href='/users'>Usurios</a></div>
            </div>
            <div class='div-content-bm'>
                <a class='login-out-bt' href='/users/logout'>Logout</a>
            </div>
            
        </div>
        <% } %>
    
        <script src="/js/productHeader.js"></script>
