<footer>
    <div class="sizing-box-logo"><img class="center-logo-book" src="img/logo.jpg" alt="entreLineasLogo"></div>
    <div class="center-letras sizing-box-letras flex-box-letras">
        <h5 class="line-height line-height-letras"><a>Nosotros</a></h5>
        <h5 class="line-height line-height-letras"><a>F.A.Q</a></h5>
        <h5 class="line-height line-height-letras"><a href="/login">Estado de mi pedido</a></h5>
    </div>
    <div class="sizing-box-media"><img class="center-media" src="img/logos-redes.jpg" alt="logos-redes"></div>
    <div class="sizing-box-coppyright">
        <h6 class="margin-coppyright style-coppyright line-height-coppyright">ENTRELINEAS©2022</h6>
    </div>

</footer>