<header>
    <h1 class="main-title">ENTRE LINEAS</h1>
    <div class=" carrousel-size carrousel-style ">
        <h5 class="line-height"> OFERTA: Envíos 50% OFF </h5>
    </div>
    <div class="sizing-menu-paty desaparecerDesktop"><img class="centrar-icono" src="/img/menu-paty.jpg"
            alt="menu-paty">
    </div>
    <div class="sizing-logo">
        <a href="/"><img class="centrar-logo" src="/img/logo-entre-lineas.jpg"
             alt="entreLineasLogo"></a>
    </div>

    <div class="desaparecerEnMobile flex-box-texto size-box-texto">
        <h6 class="margin-right-text"><a href="/books">Libros</a></h6>
        <h6 class="margin-right-text"><a href="/ebooks">E-books</a></h6>
        <h6 class="margin-right-text"><a>Productos</a></h6>
    </div>

    <div class="head_logos_login">

    <div class="sizing-carrito ordenar-carrito">
        <a href="/carrito"><img class="centrar-icono" src="/img/carrito.jpg" 
            alt="carrito"></a>
    </div>
   
     
            <% if (locals.isLogged) { %>
              
                    <div class="cont-pic-name">
                        <a class="user_profile_picture_nav" href="/users/userProfile" >
                            <img class= "login-img" src="/img/users/<%=locals.userLogged.profilePic %>">
                        </a>
                    </div>
                    <div class="nav-bot-header">
                        <a class="nav-link" href="/users/logout">Logout</a>
                   </div>
                   
            <% } else { %>    
                <div class="nav-bot-header"><a class="nav-link" href="/users/login">Login</a></div>
            <% } %>
    
        </div>
    
      
    
</header>