<nav class="nav-products">
    <a href ='/products'>Listado de Productos</a>
    <a href ='/authors'>Autores</a>
    <a href ='/genres'>Géneros</a>
    <a href ='/editorials'>Editoriales</a>
    <a href ='/usersList'>Users</a>
</nav>

    
