<header class="product-header">
<section class="create-pr-header">
    <div class=" carrousel-size carrousel-style ">
        <h5 class="line-height lp-color"> OFERTA: Envíos 50% OFF </h5>
    </div>
        
    <div class="sizing-menu-paty crearpr-desap-Desktop"><img class="centrar-icono" src="/img/menu-paty.jpg"
            alt="menu-paty">
    </div>
    
    <div class="sizing-logo"><a href="/"><img class="centrar-logo" src="/img/logo-entre-lineas.jpg" alt="entreLineasLogo"></a></div>

     <form class="nav-search" action="/products/search" method="POST" role="search" >
        <input  class="box-ingrese-datos" type="text" placeholder="Buscar" name="search">
        <button type="submit" class="nav-search-btn" tabindex="3">
            <span class="material-symbols-outlined"><img src="/img/outline_search_white_24dp.png" alt="search"></span>
        </button>
    </form>

    <div class="creatProd-buttom"> 
        <a href ='/products/create'><button class="create-buttom">Agregar nuevo</button></a>
    </div>
      
    <div class="head_logos_login products_hed_logos_login">
         
                <% if (locals.isLogged) { %>
                  
                        <div class="cont-pic-name">
                            <a class="user_profile_picture_nav" href="/users/userProfile" >
                                <img class= "login-img" src="/img/users/<%=locals.userLogged.profilePic %>">
                            </a>
                        </div>
                        <div class="nav-bot-header">
                            <a class="nav-link" href="/users/logout">Logout</a>
                       </div>
                       
                <% } else { %>    
                    <div class="nav-bot-header"><a class="nav-link" href="/users/login">Login</a></div>
                <% } %>
        
    </div>
</section>
    <%- include('../partials/navbar.ejs') %>
</header>
