<header class="create-pr-header">

    <div class=" carrousel-size carrousel-style ">
        <h5 class="line-height lp-color"> OFERTA: Envíos 50% OFF </h5>
    </div>
        
    <div class="sizing-menu-paty crearpr-desap-Desktop"><img class="centrar-icono" src="/img/menu-paty.jpg"
            alt="menu-paty">
    </div>
    <div class="sizing-logo"><a href="/"><img class="centrar-logo" src="/img/logo-entre-lineas.jpg" alt="entreLineasLogo"></a></div>

    <div class="sizing-carrito ordenar-carrito"><a href="/home"><img class="centrar-icono" src="/img/icono-home.png" alt="home"></a></div>
   
</header>